@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: bold;
    src: url('iransans/IRANSansWeb_Bold.woff2') format('woff2');
}
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url('iransans/IRANSansWeb.woff2') format('woff2') ;
}